* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Open Sans";
  src: url(/styles/assets/fonts/OpenSans-Regular.ttf);
}
.container {
  width: 1400px;
  margin: 0 auto;
}

header .container .row {
  height: 100px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #0A121F);
  background-color: #0A121F;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .container .row .logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .container .row .logo .logo__img {
  width: 50px;
  margin: 0 15px;
}
header .container .row .logo .logo__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22.5455px;
  line-height: 31px;
  color: #3A68B8;
}
header .container .row .navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .container .row .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
header .container .row .navbar ul li {
  padding: 10px 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
header .container .row .navbar ul li a {
  color: inherit;
  text-decoration: none;
}
header .container .row .navbar .btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  width: 112px;
  height: 52px;
  background: #3A68B8;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
}
header .container .row i {
  display: none;
  color: white;
}

section.hero .container {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%);
  background-color: #08101E;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
section.hero .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.hero .container .row .hero-context {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 30px;
  margin: 20px;
}
section.hero .container .row .hero-context .hero-context__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 260%;
  text-transform: uppercase;
  color: #3A68B8;
  text-decoration: none;
}
section.hero .container .row .hero-context .hero-context__title {
  font-family: "Open Sans";
  font-style: normal;
  width: 404px;
  height: 142px;
  font-weight: 800;
  font-size: 35px;
  line-height: 130%;
  color: #FFFFFF;
}
section.hero .container .row .hero-context .hero-context__text {
  width: 408px;
  height: 87px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
}
section.hero .container .row .hero-context .hero-context-btn {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
section.hero .container .row .hero-context .hero-context-btn .btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  width: 171px;
  height: 57px;
  background: #3A68B8;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  cursor: pointer;
}
section.hero .container .row .hero-context .hero-context-btn .btn2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  width: 217px;
  height: 57px;
  background: #3A68B8;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  cursor: pointer;
  margin: 10px;
}
section.hero .container .row .hero-image {
  margin: 50px;
}
section.hero .container .row .hero-image .hero-image__img {
  width: 432px;
  height: 434px;
  padding: 20px;
}
section.hero .container .logoipsum {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  margin: 0 20px;
  padding: 0 30px;
}
section.hero .container .logoipsum .logoipsum-box1, section.hero .container .logoipsum .logoipsum-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.hero .container .logoipsum .logoipsum-box1 img, section.hero .container .logoipsum .logoipsum-box2 img {
  margin: 0 40px;
}

section.slides .container {
  background-color: #08101E;
}
section.slides .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section.slides .container .row .slides-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.slides .container .row .slides-cards .slides-cards__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 190px;
  height: 289px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.0352941176));
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 10px;
  margin: 10px;
}
section.slides .container .row .slides-cards .slides-cards__card .slides-cards__img {
  margin: 17px;
  width: 40px;
}
section.slides .container .row .slides-cards .slides-cards__card .slides-cards__title {
  width: 190px;
  height: 62px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
}
section.slides .container .row .slides-cards .slides-cards__card .slides-cards__text {
  width: 190px;
  height: 104px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
  margin: 10px;
}
section.slides .container .row .dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
section.slides .container .row .dots .dot {
  width: 15px;
  height: 15px;
  background: #2C3647;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 10px;
  margin: 10px;
}

section.footer .container {
  background-color: #08101E;
}
section.footer .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}
section.footer .container .row .art {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
section.footer .container .row .art .art__img {
  width: 50px;
}
section.footer .container .row .art .art__title {
  width: 158.63px;
  height: 21.95px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15.9627px;
  line-height: 22px;
  color: #3A68B8;
  margin-top: 10px;
}
section.footer .container .row .art .art__text {
  margin: 20px 0;
  width: 201px;
  height: 54px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.6;
}
section.footer .container .row .art .art-links .art__link {
  display: block;
  margin-top: 10px;
  width: 261px;
  height: 18px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}
section.footer .container .row .art .art-links .art__link i {
  color: inherit;
  margin-right: 10px;
}
section.footer .container .row .info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
section.footer .container .row .info .info__title {
  width: 164px;
  height: 20px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 30px;
}
section.footer .container .row .info a {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.6;
  display: block;
  margin-top: 20px;
  text-decoration: none;
}
section.footer .container .row .info a i {
  margin: 0 10px;
  font-size: 16px;
}
section.footer .container .row .info p {
  width: 261px;
  height: 54px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.6;
  margin-top: 55px;
}

@media (max-width: 1400px) {
  header .container {
    width: 1050px;
  }
  section.hero .container {
    width: 1050px;
  }
  section.slides .container {
    width: 1050px;
  }
  section.footer .container {
    width: 1050px;
  }
}
@media (max-width: 1024px) {
  header .container {
    width: 900px;
  }
  section.hero .container {
    width: 900px;
  }
  section.hero .container .row {
    display: flex;
    flex-direction: column;
  }
  section.hero .container .logoipsum {
    display: flex;
    flex-direction: column;
  }
  section.hero .container .logoipsum .logoipsum-box1, .logoipsum-box2 img {
    margin: 0 30px;
  }
  section.slides .container {
    width: 900px;
  }
  section.slides .container .row .slides-cards #card1 {
    display: none;
  }
  section.footer .container {
    width: 900px;
  }
  section.footer .container .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 910px) {
  header .container {
    width: 870px;
  }
  header .container .row .navbar {
    display: none;
  }
  section.hero .container {
    width: 870px;
  }
  section.hero .container .row {
    display: flex;
    flex-direction: column;
  }
  header .container .row i {
    display: block;
    color: white;
  }
  section.hero .container {
    width: 870px;
  }
  section.slides .container {
    width: 870px;
  }
  section.slides .container .row .slides-cards #card5 {
    display: none;
  }
  section.footer .container {
    width: 870px;
  }
}
@media (max-width: 768px) {
  header .container {
    width: 560px;
  }
  section.hero .container {
    width: 560px;
  }
  section.hero .container .row .hero-image .hero-image__img {
    width: 332px;
    height: 334px;
    padding: 20px;
  }
  section.hero .container .row .hero-context {
    width: 332px;
    height: 334px;
    padding: 20px;
  }
  section.hero .container .row .hero-context .hero-context__link {
    font-size: 16px;
    text-align: center;
  }
  section.hero .container .row .hero-context .hero-context__title {
    font-size: 20px;
    width: 250px;
    text-align: center;
  }
  section.hero .container .row .hero-context .hero-context__text {
    font-size: 14px;
    width: 250px;
    margin-top: 20px;
    text-align: center;
  }
  section.hero .container .row .hero-context .hero-context-btn {
    display: flex;
    flex-direction: column;
  }
  section.hero .container .row .hero-context .hero-context-btn .btn, section.hero .container .row .hero-context .hero-context-btn .btn2 {
    width: 160px;
    height: 40px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.slides .container {
    width: 561px;
  }
  section.slides .container .row .slides-cards #card4 {
    display: none;
  }
  section.slides .container .row .dots {
    margin-bottom: 20px;
  }
  section.footer .container {
    width: 560px;
  }
}
@media (max-width: 568px) {
  header .container {
    width: 430px;
  }
  section.hero .container {
    width: 430px;
  }
  section.slides .container {
    width: 430px;
  }
  section.slides .container .row .slides-cards #card2 {
    display: none;
  }
  section.slides .container .row .dots {
    margin-bottom: 20px;
  }
  section.footer .container {
    width: 430px;
  }
}
@media (max-width: 440px) {
  .container {
    margin: 0 auto;
  }
  header .container {
    width: 100%;
  }
  section.hero .container {
    width: 100%;
  }
  section.slides .container {
    width: 100%;
  }
  section.slides .container .row .slides-cards #card1 {
    width: 462px;
  }
  section.footer .container {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */